<p>This document tries to use every element available via the Wordpress TinyMCE editor. This is just a standard sentence/paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in consectetur ante, sed venenatis magna. Phasellus ultricies, purus ut feugiat tristique, nisi arcu accumsan urna, vestibulum lacinia odio justo eu ipsum. Aliquam cursus eu augue vitae commodo.</p>

<p>You can <strong>bold</strong> things, make things <em>italic</em> or do a <del>strikethrough</del>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in consectetur ante, sed venenatis magna. Phasellus ultricies, purus ut feugiat tristique, nisi arcu accumsan urna, vestibulum lacinia odio justo eu ipsum. Aliquam cursus eu augue vitae commodo.</p>

<ul>
  <li>You can</li>
  <li>add an</li>
  <li>unordered list</li>
</ul>

<ol>
  <li>You can</li>
  <li>add an</li>
  <li>ordered list</li>
</ol>

<blockquote>
  <p>You can add a block-quote. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</blockquote>

<p>You can left align a paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in consectetur ante, sed venenatis magna. Phasellus ultricies, purus ut feugiat tristique, nisi arcu accumsan urna, vestibulum lacinia odio justo eu ipsum. Aliquam cursus eu augue vitae commodo.</p>

<p style="text-align: center;">You can center a paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in consectetur ante, sed venenatis magna. Phasellus ultricies, purus ut feugiat tristique, nisi arcu accumsan urna, vestibulum lacinia odio justo eu ipsum. Aliquam cursus eu augue vitae commodo.</p>

<p style="text-align: right;">You can right align a paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in consectetur ante, sed venenatis magna. Phasellus ultricies, purus ut feugiat tristique, nisi arcu accumsan urna, vestibulum lacinia odio justo eu ipsum. Aliquam cursus eu augue vitae commodo.</p>

<p>You can add a <a title="Link Title" href="http://example.com">link</a>.</p>

<address>You can add an “address” element.</address>

<pre>You can add a "preformatted" element. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in consectetur ante, sed venenatis magna. Phasellus ultricies, purus ut feugiat tristique, nisi arcu accumsan urna, vestibulum lacinia odio justo eu ipsum. Aliquam cursus eu augue vitae commodo.</pre>

<h1>You can add an H1.</h1>
<h2>You can add an H2.</h2>
<h3>You can add an H3.</h3>
<h4>You can add an H4.</h4>
<h5>You can add an H5.</h5>
<h6>You can add an H6.</h6>

<p>You can <span style="text-decoration: underline;">underline</span> things.</p>

<p style="text-align: justify;">You can do align full to try and take up the entire width. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in consectetur ante, sed venenatis magna. Phasellus ultricies, purus ut feugiat tristique, nisi arcu accumsan urna, vestibulum lacinia odio justo eu ipsum. Aliquam cursus eu augue vitae commodo.</p>

<p><img class="alignnone size-large wp-image-1" alt="Alt Text" src="http://placehold.it/600x300" width="600" height="300"></p>

<div id="attachment_1" class="wp-caption alignleft" style="width: 300px">
  <a href="http://example.org">
    <img class="size-medium wp-image-1" alt="Alt Text" src="http://placehold.it/350x150" width="300" height="150">
  </a>
  <p class="wp-caption-text">The Caption</p>
</div>

<div id="attachment_1" class="wp-caption aligncenter" style="width: 300px">
  <a href="http://example.org">
    <img class="size-medium wp-image-1" alt="Alt Text" src="http://placehold.it/350x150" width="300" height="150">
  </a>
  <p class="wp-caption-text">The Caption</p>
</div>

<div id="attachment_1" class="wp-caption alignright" style="width: 300px">
  <a href="http://example.org">
    <img class="size-medium wp-image-1" alt="Alt Text" src="http://placehold.it/350x150" width="300" height="150">
  </a>
  <p class="wp-caption-text">The Caption</p>
</div>